{% extends "base.html" %}
{% block title %} Camps {% endblock %}
{% block content %}

<h2>SPECIAL CAMPING PROGRAMME ---</h2>

<p>Special Camping forms an integral part of National Service Scheme. It has special appeal
to the youth as it provides unique opportunities to the students for group living, collective
experience sharing and constant interaction with community.

Special campings are organised generally on various developmental issues of national
importance. </p>

<h2>Contributions of Special Camping Programme ---</h2>
<p> Concerted efforts have to be made for a number of years for reconstruction activities in
rural areas and urban slums for improving the living conditions of economically and
socially weaker sections of the community. For this, the universities colleges land +2
institutions having NSS have a special role to play in collaboration with other
Departments and local authorities engaged in Development work. They should adopt a
village or group of villages/urban slums for intensive social development, where special
camps are organised by them year after year to create tangible and durable community
assets.</p>

<h2>Objectives of the Special Camping programme</h2>

<p>(i) making education more relevant to the present situation to meet the felt needs of
the communities and supplement the education of university/college/school
students by bringing them face to face with the community situation.
(ii) To provide opportunities to students to play their due roles in the implementation
of various development programmes by planning and executing development
projects, which not only help in creating durable community assets in rural areas
and slums but also result in improvement of the condition of weaker sections of
the communities.
(iii) Encouraging the students and non-students youth to work along with the adults in
rural areas, thereby developing their character, social consciousness and
commitment, discipline ad healthy and helpful attitudes towards the community;
(iv) Building up potential youth leaders by exploring the latent potential among the
campers, both students as well as local youth (rural and urban), with a view to
involve them more intimately in development projects for longer periods. The
local leadership generated during the camps would also be useful in ensuring
proper maintenance of the assets created as a result of the camps.
(v) Emphasizing the dignity of labour and self-help and the need for combining
physical work with intellectual pursuits, and
(vi) Encouraging youth to participate enthusiastically in the process of national
development, and promote national integration through democratic living and
cooperative action.
</p>


{% endblock %}









