{% extends "base.html" %}
{% block title %} UPDATE {% endblock %}

{% block content %}
    
  
    <h1 class="center">Add Phones</h1>
    
    <form method="POST" action="/{{product_det.id}}/edit" enctype="multipart/form-data">
        
        <label>Location  :</label> <br>   
        <input type="text" name="location" value="{{product_det.location}}">
        <br>
        <label>Image  :</label><br>
        <input type="file" name="pic" value="{{product_det.pic}}">
        <br>
        <label>Date  :</label><br>
        <input type="date" name="date" value="{{product_det.date}}">
        <br>
        <br>
        <input type="submit" value="Add" style="color:red; font-weight:bold;" value="submit">
      
    </form>
    
    
{% endblock %}  